html, body, #root, #root>div {
    height: 100%;
    margin: 0;
}

.block {
    text-align: center;
    height: 130px;
}

.block:hover {
    background-color: rgb(237, 237, 237);
}

.blockFilled:hover {
    background-color: white;
}

.winningBlock, .winningBlock:hover {
    background-color: lightgreen;
}

/* first six blocks */
.block:nth-child(-n + 6) {
    border-bottom: 1px solid black;
}

.block:nth-child(1) {
    border-right: 1px solid black;
}

.block:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.block:nth-child(3) {
    border-left: 1px solid black;
}

.block:nth-child(4) {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.block:nth-child(5) {
    border: 1px solid black;
}

.block:nth-child(6) {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.block:nth-child(7) {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.block:nth-child(8) {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.block:nth-child(9) {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.grid {
    width: 100%;
}

@media screen and (min-width: 560px) {
    .grid {
        width: 60%;
    }
}

@media screen and (min-width: 760px) {
    .grid {
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .grid {
        width: 40%;
    }
}